<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="style.css" />
    <title>Vue Trello?</title>
  </head>

  <body>
    <header>
      <div class="header-title">Vue Trello?</div>
    </header>
    <div class="main-container" id="app">
      <div class="list-container">
        <div class="list-header">買い物リスト</div>
        <div class="cards-container">
          <div class="card" v-for="todo in list">
            <input type="checkbox" v-model="todo.isDone" />
            <div v-if="todo.isDone">
              <div style="text-decoration: line-through;">
                {{ todo.text }}
              </div>
            </div>

            <div v-else>
              <div class="text">
                {{ todo.text }}
              </div>
            </div>
            <div
              class="delete"
              v-for="(todo,index) in list"
              v-on:click="deleteTodo(index)"
            ></div>
          </div>
        </div>
        <input type="text" id="input-todo" v-model="inputTodo" />
        <div id="input-button" v-on:click="addTodo">追加</div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
      const app = new Vue({
        el: "#app",
        data: {
          list: [
            {
              text: "ひき肉を300g買う",
              isDone: false,
            },
            {
              text: "ホウレンソウを1束買う",
              isDone: false,
            },
            {
              text: "ピーマンを2個買う",
              isDone: false,
            },
          ],
          todo: "",
          inputTodo: "",
        },
        methods: {
          addTodo: function() {
            this.list.push(this.inputTodo)
          },
          deleteTodo: function(index) {
            this.list.splice(index, 1)
          },
        },
      })
    </script>
  </body>
</html>
